<span class="loading-indicator" *ngIf="loading">
  <mat-spinner></mat-spinner>
</span>

<div class="main_component">
  <h1>Üdvözöljük az 5D ultrahang időpontfoglaló oldalán!</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field><mat-label for="email">Email: </mat-label><input matInput id="email" type="text" formControlName="email" /> </mat-form-field>
    <mat-form-field><mat-label for="password">Jelszó: </mat-label><input matInput id="password" type="password" formControlName="password" /> </mat-form-field>
    <span>
    <span><button mat-raised-button type="submit">Bejelentkezés</button></span>
    <span><button mat-raised-button type="button" [routerLink]="'/signup'">Regisztráció</button></span>
  </span>
  </form>
</div>
